<a href="https://colab.research.google.com/github/BenKohn2004/Fencer_Rankings_Glicko2/blob/main/Fencer_Rating_Lookup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
!wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt --keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=1yHoRfcrSgtPlyasEDEFITac-bglm32UM' -O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=1yHoRfcrSgtPlyasEDEFITac-bglm32UM" -O df_fencing_ratings.csv && rm -rf /tmp/cookies.txt
df_fencing_ratings = pd.read_csv("df_fencing_ratings.csv")
df_fencing_ratings = df_fencing_ratings.drop(columns = 'Unnamed: 0')

df_fencing_ratings_simpler = df_fencing_ratings.drop(columns=['foil_phi', 'foil_sigma', 'epee_phi', 'epee_sigma', 'saber_phi', 'saber_sigma'])
df_fencing_ratings_simpler = df_fencing_ratings_simpler.rename(columns={"foil_mu": "Foil Rating", "epee_mu": "Epee Rating", "saber_mu": "Saber Rating", "Best_Opp": "Best Opponent Beaten", "Best_Opp_Rat": "Best Opp Rating"})

--2022-01-14 19:19:48--  https://docs.google.com/uc?export=download&confirm=&id=1yHoRfcrSgtPlyasEDEFITac-bglm32UM
Resolving docs.google.com (docs.google.com)... 142.251.8.102, 142.251.8.101, 142.251.8.113, ...
Connecting to docs.google.com (docs.google.com)|142.251.8.102|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-10-8g-docs.googleusercontent.com/docs/securesc/4h5ei83u1cl1v4dr9mjkb5lu2lss3a9k/8kum4rsegoider1tkavrijakb6qjk7er/1642187925000/15469335548275755091/16003527023041888104Z/1yHoRfcrSgtPlyasEDEFITac-bglm32UM?e=download [following]
--2022-01-14 19:19:49--  https://doc-10-8g-docs.googleusercontent.com/docs/securesc/4h5ei83u1cl1v4dr9mjkb5lu2lss3a9k/8kum4rsegoider1tkavrijakb6qjk7er/1642187925000/15469335548275755091/16003527023041888104Z/1yHoRfcrSgtPlyasEDEFITac-bglm32UM?e=download
Resolving doc-10-8g-docs.googleusercontent.com (doc-10-8g-docs.googleusercontent.com)... 108.177.125.132, 2404:6800:4008:c01::84
Connecting to doc-10-8g-docs.googleusercontent.com (doc-10-8g-docs.googleusercontent.com)|108.177.125.132|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://docs.google.com/nonceSigner?nonce=dllhu0m24psbc&continue=https://doc-10-8g-docs.googleusercontent.com/docs/securesc/4h5ei83u1cl1v4dr9mjkb5lu2lss3a9k/8kum4rsegoider1tkavrijakb6qjk7er/1642187925000/15469335548275755091/16003527023041888104Z/1yHoRfcrSgtPlyasEDEFITac-bglm32UM?e%3Ddownload&hash=ej44c9c02e19dfapoe44rm4gi4rr2l9q [following]
--2022-01-14 19:19:49--  https://docs.google.com/nonceSigner?nonce=dllhu0m24psbc&continue=https://doc-10-8g-docs.googleusercontent.com/docs/securesc/4h5ei83u1cl1v4dr9mjkb5lu2lss3a9k/8kum4rsegoider1tkavrijakb6qjk7er/1642187925000/15469335548275755091/16003527023041888104Z/1yHoRfcrSgtPlyasEDEFITac-bglm32UM?e%3Ddownload&hash=ej44c9c02e19dfapoe44rm4gi4rr2l9q
Connecting to docs.google.com (docs.google.com)|142.251.8.102|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://doc-10-8g-docs.googleusercontent.com/docs/securesc/4h5ei83u1cl1v4dr9mjkb5lu2lss3a9k/8kum4rsegoider1tkavrijakb6qjk7er/1642187925000/15469335548275755091/16003527023041888104Z/1yHoRfcrSgtPlyasEDEFITac-bglm32UM?e=download&nonce=dllhu0m24psbc&user=16003527023041888104Z&hash=vituq8fv3li5ghgaptu9u1rir30orqfh [following]
--2022-01-14 19:19:50--  https://doc-10-8g-docs.googleusercontent.com/docs/securesc/4h5ei83u1cl1v4dr9mjkb5lu2lss3a9k/8kum4rsegoider1tkavrijakb6qjk7er/1642187925000/15469335548275755091/16003527023041888104Z/1yHoRfcrSgtPlyasEDEFITac-bglm32UM?e=download&nonce=dllhu0m24psbc&user=16003527023041888104Z&hash=vituq8fv3li5ghgaptu9u1rir30orqfh
Connecting to doc-10-8g-docs.googleusercontent.com (doc-10-8g-docs.googleusercontent.com)|108.177.125.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8407860 (8.0M) [text/csv]
Saving to: ‘df_fencing_ratings.csv’

df_fencing_ratings. 100%[===================>]   8.02M  --.-KB/s    in 0.03s

2022-01-14 19:19:50 (239 MB/s) - ‘df_fencing_ratings.csv’ saved [8407860/8407860]

**To view the top 25 Ratings in Saber**

In [14]:
df_fencing_ratings_simpler.sort_values(['Saber Rating'], ascending=False)[:25]

                                        Name  ...  Best Opp Rating
73654                            PEREZ Celia  ...             2220
2855                             HOMER Daryl  ...             2163
3086                          ZAGUNIS Mariel  ...             2193
20660                            SINGH KARAN  ...             2180
13152                      HAFEZ ATAWIA NADA  ...             2218
13103                  AMER ABDELAAL MOHAMED  ...             2201
37351                     KONSTANTINA Kefala  ...             2176
5704                       FOX-GITOMER Chloe  ...             2203
14976                                REN Ian  ...             2047
5771                       MACKIEWICZ Andrew  ...             2323
75261                            LINDER Luke  ...             2078
28872                      CONCANNON Stephen  ...             2036
64377  C. A. BHAVANI DEVI C. A. BHAVANI DEVI  ...             2086
52137                              DAVIS Tim  ...             2143
69761                           AMER MOHAMED  ...             2247
74112                                   IDRI  ...             2026
5778                            ELSISSY Ziad  ...             2286
13114                     SAMER SHAWKY MOHAB  ...             2208
55217                           KIM Junghwan  ...             2004
2877                          WILLIAMS Grant  ...             2216
54418                          TIAN Jianquan  ...             2041
3763                    SKARBONKIEWICZ Magda  ...             2093
27881                       DEVI C A BHAVANI  ...             2021
1868                            HARLEY Colby  ...             2134
29683                    KOZACZUK Małgorzata  ...             2132

[25 rows x 8 columns]

**To Look Up a Fencer Based on First and Last Name**

In [17]:
last_name = 'Homer'
first_name = 'Daryl'
df_fencing_ratings_simpler.loc[df_fencing_ratings_simpler['Name'].str.contains(last_name, case=False) & df_fencing_ratings['Name'].str.contains(first_name, case=False)]

             Name  Foil Rating  ...  Best Opponent Beaten  Best Opp Rating
2855  HOMER Daryl         1500  ...          DODDO Andrew             2163

[1 rows x 8 columns]